:root{
    --navbar-color: #ffffff;
    --navbar-hover-color: #015488;
    --input-focus-color: #0994eb;
    --submit-hover-color: #015488;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#body_login{
    background-image: url(../img/bglogin.jpg)
}

#body_cadastro_paciente{
    background-image: url(../img/bgcadastro.jpg);    
}

#body_cadastro_empresa{
    background-image: url(../img/bgempresacadastro.jpg);
}

#body_cadastro_medico{
    background-image: url(../img/bgcadastromedico.jpg);
}
#body_perfil_instituicao{
    background-color: #5b748c;
}

#titulo_homepage{
    font-family: 'Roboto';
    text-align: center;
    font-size: 75px;
    margin-bottom: .5em;
}
#segundo_titulo_homepage{
    font-family: 'Roboto';
    text-align: center;
    font-size: 60px;
    margin-bottom: .5em;
    text-align: center;
}
#texto1_homepage{
    font-family: 'Roboto';
    line-height: 1.5em;
    font-size: 25px;
}
#banner_homepage{
    background-image: url(../img/banner_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8em;
    margin-top: -15px;
}

#banner_homepage2{
    background-image: none;
    background-color: #ebf0f7;
    padding: 8em;
    margin-top: -15px;
}

#banner_homepage3{
    background-image: none;
    background-color: #015488;
    color: white;
    padding: 8em;
    margin-top: -15px;
}
#banner_homepage3 h1{
    font-family: 'Roboto';
    font-size: 60px;
    margin-bottom: .5em;
    text-align: right;
}
#banner_homepage3 p{
    text-align: right;
}
#botao_cadastro_homepage{
    width: 10em;
    font-size: 25px;
    margin-top: 2em;
    background-color: #015488;
}
#botao_cadastro_homepage:hover{
    background-color: #004680;
}
#perfil_instituicao{
    margin: 5em;
    padding: 2em;
    background-color: white;
    border: 5px solid black;
}
nav{
    background-color: var(--navbar-color);
}
ul{
    text-align: left;
}
nav li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}
.linavtexto {
    line-height: 70px;
    color: black;
    transition: 0.25s;
}
.linavtexto:hover{
    background-color: var(--navbar-hover-color);
    transition: 0.25s;
}
nav a{
    color: black;
    text-decoration: none;
    padding: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
}
nav a:hover{
    color: white;
}
form {
    margin-left: auto;
    margin-right: auto;
    width: 32em;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.8);
    padding-top: 15px;
    padding-bottom: 35px;
    padding-right: 1em;
    padding-left: 1em;
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 1.5em;
}
label{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}
select{
    width: 12em;
    border-radius: 5px;
    border: solid black 2px;
    background: white;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
    outline: none;
}
select:focus{
    border: 2px solid var(--input-focus-color);
}
input{
    width: 12em;
    border-radius: 5px;
    text-align: left;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2px;
    padding-bottom: 2px;
}
input:focus{
    border: 2px solid var(--input-focus-color);
}
input:focus-visible{
    outline: none;
}
input[type=number] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=submit]{
    height: 40px;
    transition: 0.25s;
    text-align: center;
}
input[type=submit]:hover{
    text-align: center;
    background-color: var(--submit-hover-color);
    color:white;
    transition: 0.25s;
}
h1{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
#enviar,
#enviarLogin{
    margin-top: 1.5em;
}

.foto_perfil{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 5px solid black;
    display: block;
    display: inline;
}
.dados_perfil{
    margin-left: 3em;
}
.elementos_perfil{
    font-weight: normal;
    line-height: 2em;
    text-decoration: none;
    font-size: 30px;
    display: block;
}
.linha{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.coluna{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}
.endereco{
    margin-left: 1.4em;
}
.endereco>input{
    width: 90% !important;
}
.complemento>input{
    width: 82% !important;
}
.radiolabel{
    line-height: normal;
    margin-top: -20px;
}
.divradio {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}
.labeldate{
    margin-left: 7.5em !important;
}

#link_cadastro{
    display: block;
    margin-top: .4em;
}

.login-modal{
    display: block;
    text-align: center;
}

.login-modal a{
    margin-top: 10px;
    border-color: black;
    color: black;
    width: 15em;
    border-width: 2px;
}

.login-modal a:hover,
.login-modal a:focus{
    background-color: rgb(1, 84, 136);
    border-color: black;
}

.coluna ul{
    font-size: 25px;
    text-align: center;
    line-height: 3em;
}

#perfil_buttons{
    margin: .5em 0 0 22em;
}

#perfil_buttons button{
    margin-right: .5em;
}